<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page d'accueil</title>
    </head>
    <body>

        <h2>Bienvenue sur mon site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cum ut deserunt dolore adipisci labore, recusandae voluptatibus similique, numquam dolorum consectetur vero sequi. Id, maiores culpa rerum, laboriosam in cum!</p>
    
    </body>
</html>