
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /WordPress/wordpress-4.7.3-fr_FR/cinema/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /WordPress/wordpress-4.7.3-fr_FR/cinema/index.php [L]
</IfModule>

# END WordPress