<header>
  <h1>Irfane Tayabdjee <span>Etudiant</span></h1>
  <a href="#"><i class="fa fa-bars"></i>/a>

  <nav>
    <ul>
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/about">A propos</a></li>
      <li><a routerLink="/portfolio">Portfolio</a></li>
      <li><a routerLink="/contacts">Contacts</a></li>      
    </ul>
  </nav>

</header>

<main>
  <!-- Ajouter la directive pour afficher le contenu des routes -->
  <router-outlet></router-outlet>
</main>

<footer>Under MIT Licence</footer>