<h2>A propos</h2>

<img src="app/img/profil.jpg" alt="Photo de profil Irfane">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eum illum odit ex debitis, quaerat dignissimos, placeat expedita vero. Accusantium cupiditate, aut! Sit sunt quisquam adipisci, explicabo labore impedit minus.</p>

<h3>Mes compétences</h3>

<ul>
  <li>
    <p style="width: 84%;"><span>HTML: 84%</span></p>
  </li>
  <li>
    <p style="width: 25%;"><span>CSS: 25%</span></p>
  </li>
  <li>
    <p style="width: 50%;"><span>JavaScript: 50%</span></p>
  </li>
</ul>

<p>N'hésitez pas à me contacter en cliquant <a href="#">sur ce lien</a>.</p> 