<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
    </head>
    <body>

        <h2>Titre de la section Portfolio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus iusto veniam facere quas aut vel eligendi, molestias hic at ab maiores nostrum quis, corporis dolores voluptate? Cum, aspernatur tempora dolore.</p>
        
    </body>
</html>